<h1>
  <%= @task.title %>
  <%= @task.details %>
</h1>

<%= link_to "TaskList", tasks_path %>
<%= link_to "Update task", edit_task_path %>
<%= link_to "Delete task", task_path(@task), method: :delete, data: { confirm: "Are you sure?" } %>
